$fontColor: #0091aa;
$colorHeading: #14be1c;
#content  // div with id: content
{
    color: $fontColor;
}

#btnDiv
{
    float: right;
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}